<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav">
            <li 
                {% if '/' == request.path %}
                class="nav-item active mr-3"
                {% else %}
                class="nav-item mr-3"
                {% endif %}
            >
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li 
                {% if 'about' in request.path %}
                class="nav-item active mr-3"
                {% else %}
                class="nav-item mr-3"
                {% endif %}
            >            
                <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li 
                {% if 'portfolio' in request.path %}
                class="nav-item active mr-3"
                {% else %}
                class="nav-item mr-3"
                {% endif %}
            > 
                <a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a>
            </li>
            <li 
                {% if 'contact' in request.path %}
                class="nav-item active mr-3"
                {% else %}
                class="nav-item mr-3"
                {% endif %}
            > 
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </li>  

            <li class="nav-item mr-3">
                <a class="nav-link" href="{% url 'index' %}">Resume</a>
            </li>
            
            <li class="nav-item mr-3">
                <a class="nav-link" href="{% url 'index' %}">Blog</a>
            </li>                      
          </ul>
        </div>   
        <div class="social text-right">
        <a href="#">
            <i class="fab fa-linkedin" style="font-size: 1.2em;"></i>
        </a>
        <a href="#">
            <i class="fab fa-github" style="font-size: 1.2em;"></i>
        </a>
        <a href="#">
            <i class="fab fa-medium-m" style="font-size: 1.2em;"></i>
        </a>
        </div>    
    </div>
</nav>
