{% extends 'base.html' %}

{% block title %} | About Me {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-3 text-white">
    <div class="container">
        <div class="row text-center">
        <div class="col-md-12">
            <h1 class="about-display">ABOUT ME</h1>
        </div>
        </div>
    </div>
</section>
    
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active"> About</li>
        </ol>
        </nav>
    </div>
</section>

<section id="about" class="py-2">
    <div class="container">
        <div class="row">
        <div class="col-md-8">
            <p class="lead">
                I started college as a physics major but switched after taking an intro to computer science course. While I enjoyed reading about space and quantum theory, I enjoyed programming more. I was able to create anything from scratch! In my third year I became curious about mobile development, so I learned how to build basic Android apps by watching Youtube videos. When I had enough knowledge, I decided to develop my first Android app, Big O, which I published in the play store. From then on I was hooked! I worked on three more Android apps throughout college and four web applications, including this site. You can checkout out my projects 
                <a href="{% url  'portfolio' %}" style="color:#B20000">here</a>.
                
            <p class="lead">When I am not brainstorming ideas for a new project or working on a current project, I like to read, play guitar, listen to music, or watch Star Trek!  
            </p>     
            <p class="lead">I am currently looking for opportunities as a software engineer in the Bay Area. Contact me  
                <a href="{% url  'contact' %}" style="color:#B20000">here</a>.
            </p>         
        </div>
        
        <div class="col-md-4">
            {% for pic in oscars_pic %}
                <img class="rounded-circle mb-3" src="{{ pic.photo.url }}">
            {% endfor %}
        </div>
        </div>
    </div>
</section>
{% endblock %}
