{% extends 'base.html' %}

{% block title %} | Welcome {% endblock %}
{% block content %}
<section id="showcase">
    <div class="page-wrap text-center">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-display text-center" style="margin-top: -1.20em;" >Oscar Castro</h1>
                <h2 class="page-lead">
                    Hello there! I'm Oscar, recent computer science graduate from the University of California, Santa Cruz and aspiring software engineer.
                </h2>
            </div>
        </div>
    </div>    
</section>
{% endblock %}
