{% extends 'base.html' %}

{% block content %}
<div class="page-wrap text-center">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-display text-center" >Oscar Castro</h1>
            <p class="page-lead" >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies, massa sed efficitur suscipit, diam diam aliquam quam, sit amet vestibulum nisl metus ut sapien. Vestibulum sit amet euismod eros, ut luctus leo.
            </p>
        </div>
    </div>
</div>

{% endblock %}
